@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Sets all font to Roboto */
*
{
    font-family: Roboto;
}

/* Initializes some useful color values */
:root 
{
    --AquaBlue: #25ced1;
    --OffWhite: #ffffff;
    --Cream: #fceade;
    --Coral: #ff8a5b;
    --CoralRed: #ea526f;
    --DefaultBR: 18px;
}

/* Sets background color for body element */
body 
{
    background-color: #f8f8f8;
}

/* Makes columns act responsively within container */
.container 
{
    display: flex;
    width: 100vw;
}

/* Specifies generic styling for all columns */
.column 
{
    flex-direction: column;
    padding: 20px;
    border-radius: 1em;
    width: 100%;
}

/* Specifies styling for left column */
#recent_posts 
{   
    box-sizing: border-box;
    flex: 2;
    background-color: var(--Cream);
    margin-left: 1%;
    margin-right: 1%;
}

/* Specifies styling for right column */
#user_info 
{
    width: 25%;
    box-sizing: border-box;
    flex: 1;
    margin-right: 2em;
    background: linear-gradient(to bottom, #FF8A5B, #FCEADE);
}

/* Specifies styling for profile pictures */
#user_info #pic
{
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 3pt;
    display: block;
    background-color: var(--Cream);
    border-radius: 1em;
}
#info h1
{
    font-size: 1.5em;
    overflow-wrap: break-word;
    text-wrap: wrap;
}
#user_info #pic img 
{
    position: relative;
    object-fit: cover;
    width: 200px; 
    height: 200px;
    border-radius: 1em; 
}

/* Styling for user options (non-admin)*/
#options
{
    padding: 0.5em;
    border: 3pt solid var(--OffWhite);
    border-radius: 1em;
    background-color: var(--Cream);
}
#user_info #options form input[type="file"]
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#user_info #options form input[type="submit"]
{
    padding: 0.5em;
    color: #000;
    text-decoration: none;
    background: linear-gradient(90deg, var(--CoralRed), var(--Coral));
    border: 3pt solid transparent;
    border-radius: var(--DefaultBR);
    background-clip: padding-box; 
}
#user_info #options form input[type="submit"]:hover
{
    color: var(--OffWhite);
    background: linear-gradient(to bottom right, #25ced1, #ff8a5b);
    border: 3pt solid var(--OffWhite);
}
#user_info #options form input[type="password"]
{
    width: 95%;
    margin-right: 1em;
    padding: 0.25em;
    color: #000;
    text-decoration: none;
    border: 3pt solid transparent;
    border-radius: var(--DefaultBR);
}

/* Styling for user options (admin)*/
#admin-options
{
    padding: 0.5em;
    border: 3pt solid var(--OffWhite);
    border-radius: 1em;
    background-color: var(--Coral);
    margin-top: 1em;
}
#admin-form #type
{
    background-color: var(--Cream);
}
#admin-search-button, .delete-user, .delete-post
{
    padding: 0.5em;
    color: #000;
    text-decoration: none;
    background: linear-gradient(90deg, var(--CoralRed), var(--Coral));
    border: 3pt solid transparent;
    border-radius: var(--DefaultBR);
    background-clip: padding-box; 
}
#admin-search-button:hover, .delete-user:hover, .delete-post:hover
{
    color: var(--OffWhite);
    background: linear-gradient(to bottom right, #25ced1, #ff8a5b);
    border: 3pt solid var(--OffWhite);
}

/*Styling for recent user posts*/ 
.deleteButton
{
    float: left;
    cursor: pointer;
    padding: 0.5em;
    margin-right: 5px;
    color: var(--OffWhite);
    background-color: red;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 1);
    border-radius: var(--DefaultBR);
}
.mobile
{
    display: none;
}
.deleteButton:hover
{
    color: black;
    background-color: var(--OffWhite);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#user_info #options form input[type="submit"]
{
    padding: 0.5em;
    color: #000;
    text-decoration: none;
    background: linear-gradient(90deg, var(--CoralRed), var(--Coral));
    border: 3pt solid transparent;
    border-radius: var(--DefaultBR);
    background-clip: padding-box; 
}
#user_info #options form input[type="submit"]:hover
{
    color: var(--OffWhite);
    background: linear-gradient(to bottom right, #25ced1, #ff8a5b);
    border: 3pt solid var(--OffWhite);
}
#user_info #options form input[type="password"]
{
    width: 95%;
    margin-right: 1em;
    padding: 0.25em;
    color: #000;
    text-decoration: none;
    border: 3pt solid transparent;
    border-radius: var(--DefaultBR);
}

.promo{
    float: left;
    text-align: center;
    background-color: var(--AquaBlue);
    border-radius: var(--DefaultBR);
    border: none;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 1)
}
.promo:hover
{
    background-color: var(--OffWhite);
}
.promo:active
{
    background-color: var(--CoralRed);
    box-shadow: none;
}
.numPromo
{
    display: block;
    float: left;
    margin: 0;
}

@media (max-width: 600px) {
    .mobile{
        display: block;
    }
    .container{
        box-sizing: border-box;
        width: 100vw;
    }
    #recent_posts{
        width: 100%;
        margin: 0;
    }
    #user_info{
        display: none;
        position:absolute;
        width: 100vw;
        align-self: unset;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -27%);
    }
    h1{
        font-size: 1.3em;
    }

    .post{
        width: 100%;
    }
    #posts{
        width: 90vw;
        height: 75vh;
        margin: 0;
    }
    .toggleButton{
        border-radius: var(--DefaultBR);
        background-color: var(--Coral);
        color: var(--OffWhite);
        margin: 10px;
    }
}