body
{
    background-color: #f8f8f8;
}
div
{
    position: relative;
}
#post
{
    position: absolute;
    display: block;
    height: 700px;
    width: 600px;
    background-color: #FCEADE;
    margin-left: 425px;
    margin-top: 100px;
    border-radius: 25px;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
}
#info
{
    position: absolute;
    display: block;
    height: 450px;
    width: 350px;
    background: linear-gradient(to bottom, #FF8A5B, #FCEADE);
    right: 30px;
    top: 110px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}
#post h2
{
    position: relative;
    text-align: center;
    top: 50%;
    font-size: 1.5em;
    opacity: 0.6;
}
#info h2
{
    position: relative;
    top: 55%;
    left: 30px;
    display: block;
    width: 80%;
    background: linear-gradient(90deg, #ea526f, #FCEADE);
    color: white;
    text-align: center;
    padding: 0.4em;
    border-radius: 25px;
}
#info #newPost
{
    position: relative;
    top: 300px;
    left: 30px;
    display: block;
    width: 80%;
    background: linear-gradient(90deg, #ea526f, #FCEADE);
    color: white;
    text-align: center;
    padding: 0.4em;
    border-radius: 25px;
}
#info #sub
{
    position: relative;
    top: 150px;
    height: 300px;
    display: block;
    width: 337px;
    background-color: beige;
    color: white;
    padding: 0.4em;
    border-radius: 0 0 25px 25px;
}
#name
{
    position: absolute;
    top: 25px;
    color: black;
    font-size: 1em;
    margin-left: 2em;
}
#info #pic
{
    position: absolute;
    top: 50px;
    left: 20px;
    height: 120px;
    width: 120px;
    display: block;
    background-color: beige;
    color: white;
    border-radius: 15px;
}
#pic img
{
    position: absolute;
    top: 50px;
    left: 50px;
}

