@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Sets all font to Roboto */
header#header *
{
    font-family: Roboto;
}

/* Initializes some useful color values */
:root 
{
    --AquaBlue: #25ced1;
    --OffWhite: #ffffff;
    --Cream: #fceade;
    --Coral: #ff8a5b;
    --CoralRed: #ea526f;
    --DefaultBR: 18px;
}

header#header
{
    padding: 0%;
    margin-bottom: 2em;
    top: 0;
}

header#header div
{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background: linear-gradient(to bottom right, #25ced1, #ff8a5b);
}

header#header img#logo
{
    height: 8vh;
}

header#header div a
{
    padding:  1vh 1vw;
    color: #000;
    text-decoration: none;
    background: linear-gradient(90deg, var(--CoralRed), var(--Coral));
    border: 3pt solid transparent;
    border-radius: var(--DefaultBR);
    background-clip: padding-box; /* Add this line */
}
header#header div a:hover
{
    color: var(--OffWhite);
    background: transparent;
    border: 3pt solid var(--OffWhite);
}

header#header form, select
{
    padding:  0.5vh 0.5vw;
    width: 50%;
    color: #000;
    border-radius: var(--DefaultBR);
    background-color: var(--Cream);
    display: flex;
    align-items: center;
}
header#header select:hover
{
    color: var(--Coral);
}

header#header form input
{
    padding:  0.5vh 0.5vw;
    margin-left: 3pt;
    color: #000;
    border-radius: var(--DefaultBR);
    background-color: var(--Cream);
    width: 100%;
}
header#header form input#search_button:hover
{
    transition: background-color 0.3s;
    background-color: #ff8a5b;
}