header
{
    padding:0%;
    margin:0 0 5vh 0;
    top:0;
}

header div
{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background: linear-gradient(to bottom right, #25ced1, #ff8a5b);
    border-radius: 0 0 var(--DefaultBR) var(--DefaultBR);
}

#logo
{
    height: 8vh;
}

header div > a
{
    padding:  0.5vh 0.8vw;
    color: #000;
    background-color: var(--Cream);
}

header div > a:hover{
    padding:  0.5vh 0.8vw;
    color: #000;
    background: var(--Cream);
}

header form, select
{
    padding:  0.5vh 0.5vw;
    width: 50%;
    color: #000;
    border-radius: var(--DefaultBR);
    background-color: var(--Cream);
    display: flex;
    align-items: center;
}

header form > input
{
    color: #000;
    border-radius: var(--DefaultBR);
    background-color: var(--Cream);
    width: 100%;
}