body{
    display:inline;
}
section{
    background-color: var(--Cream);
}
div{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 75vh;
}
#posts, #sideMenu{
    
}
#posts{
    overflow: scroll;
    border-radius: var(--DefaultBR);

    margin: 13% 4vw;
    width: 65vw;
    height: 100%;
}
#sideMenu{
    background: linear-gradient(to bottom, var(--Coral), var(--Cream));
    border-radius: var(--DefaultBR);
    margin: 1vh 4vw;
    width:20vw;
    height: 80%
}