body{
    display:inline;
}
section{
    background-color: var(--Cream);
}

#posts{
    margin:0;
}
.bodyDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 85vh;
}
#sideMenu{
    background: linear-gradient(to bottom, var(--Coral), var(--Cream));
    border-radius: var(--DefaultBR);
    margin: 0 2vw;
    width:20vw;
    height: 80%
}
hr{
    border: 0.5pt solid;
    width: 95%;
    margin-left: 20px;
}