.login-container, .register-container, input[type="text"], input[type="email"], input[type="password"], button.login, a
{
    border-radius: 3em;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

h1
{
    font-size: 26pt;
    font-style: bold;
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

#error
{
    color: red;
    font-size: 12pt;
    margin-bottom: 1em;
}

.login-container, .register-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2em;
    background: linear-gradient(to bottom right, #25ced1, #ff8a5b);
    box-shadow: 0pt 0pt 15pt 0pt rgba(0, 0, 0, 0.15);
}

.login-container .fields, .register-container .fields
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fields input[type="text"],
.fields input[type="email"],
.fields input[type="password"]
{
    display: block;
    text-align: center;
    font-size: 12pt;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: 3pt solid white;
    margin-bottom: 2em;
}

.fields input[type="text"]:hover,
.fields input[type="email"]:hover,
.fields input[type="password"]:hover
{
    border-color: #ea526f;
}

.fields button[type="submit"]
{
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    background-color: #ea526f;
    border-radius: 3em;
    border: 3pt solid #ea526f;
    cursor: pointer;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 2em;
}

.fields button[type="submit"]:hover
{
    color: white;
    border-color: white;
    background-color: transparent;
}

.login-container a.sign-up-link, .register-container a.sign-up-link 
{
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
}
.login-container a.sign-up-link:hover, .register-container a.sign-up-link:hover
{
    color: #ea526f;
}