#postWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    
}

#post{
    padding: 1%;
    background-color: var(--Cream);
    border-radius: var(--DefaultBR);
    height: 70%;
    width: 55%;
}
#postbutton{
    background-color: #FFF;
}
#title{
    height: 10%;
    border-radius: var(--DefaultBR);
}
#textPost{
    display: flex;
    width: 100%;
    height: 50%;
    margin: 10px 0;
    border-radius: var(--DefaultBR);
    background-color: #FFF;
}
#postbutton,#communitySelect,#uploadImg{
    text-decoration: none;
    color: #FFF;
    border-radius: var(--DefaultBR);
    background: linear-gradient(90deg, var(--CoralRed), var(--Coral));
    padding: 1vh 1vw;
    margin: 20px 0;
}
#postbutton:hover,#community:hover,#uploadImg:hover{
    background: linear-gradient(90deg, var(--Coral), var(--CoralRed));
}
#postbutton{
    float: right;
}
#uploadImg{
    float: left;
    min-width: 20%;
    width: 40%
}
.error{
    color: red;

}